.overskrift {
    color: aqua;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif; 
}

.footer {
    left: 0;
    width: 100%;
    background-color: black;
    color: aqua;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed; /*Burde være absolute, går fint nå, men om du måtte scrolle på denne siden, så ligger den oppå med fixex der aboslute hadde hatt den helt på bunnen*/
}

.footer a {
    color: aqua;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

body {
    height: 100vh; /* Sier at body må være like høy som vinduet */
}

.header {
    position: absolute; /* samme om du bruker fixed eller aboslute her */
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    text-align: center;
    height: 80px; /*sitter fast høyde så det blir consistent*/
    }

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    text-decoration: underline;
}

.header {
    background-color: black;
    display: flex;
}

.text{
    color: aliceblue;
    margin: 0;
}

.bilde1{
    width: 300px;
    border-radius: 15px;
    justify-content: center;
}

.produkt{
    background-color: aquamarine;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
    margin: 0;


}

.navn {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
}

.produkter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hus{
    width: 60px;
    font-size: 60px;
}

.overskirftConteiner {
    display: flex;
    justify-content: center;
    width: calc(100% - 130px);
}

.pagecontent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}